<div>
      <div class="row" style="height: 25px" *ngIf="selectedMenu">
        <div class="col-md-1">
          <nb-icon title="添加" [icon]="evaIcons[183]" pack="eva" (click)="open()"></nb-icon>
        </div>
        <div class="col-md-1">
          <nb-icon title="链接" [icon]="evaIcons[132]" pack="eva" (click)="openPageList()"></nb-icon>
        </div>
        <div class="col-md-1">
          <nb-icon title="删除" [icon]="evaIcons[227]" pack="eva" (click)="deleteMenu()"></nb-icon>
        </div>
        <div class="col-md-2 offset-1"  *ngIf="selectedMenu">
          <button [ngClass]="{'btn-primary':buttonDisabled}" (click)="toggle()">配置</button>
          <button [ngClass]="{'btn-primary':!buttonDisabled}" (click)="toggle1()">权限</button>
        </div>

      </div>
      <div class="row" style="height: 25px" *ngIf="!selectedMenu"></div>
      <div class="row">
        <div style="width: 300px;">
          <nb-card>
            <nb-card-header>菜单项 <i *ngIf="selectedMenu" style="color: red">{{selectedMenu.name}}</i></nb-card-header>
            <nb-card-body>
              <tree-root [nodes]="nodes" (activate)="selected($event)" [(state)]="stats"></tree-root>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-8" *ngIf="selectedMenu">
          <ngx-page-params [menuItem]="selectedMenu" *ngIf="buttonDisabled"></ngx-page-params>
          <ngx-permission-set [menuItem]="selectedMenu"  *ngIf="!buttonDisabled"></ngx-permission-set>
        </div>
      </div>
</div>

