        <a  nbButton [status]="statuses[2]" ghost routerLink="/pages/system-manage/page-params">
                    页面参数
        </a>


        <button disabled nbButton ghost>
            权限配置
        </button>


          <a routerLink="/pages/system-manage/page-config" nbButton [status]="statuses[2]" ghost style="float: right">
            <nb-icon [icon]="evaIcons[6]" pack="eva"></nb-icon>页面列表
          </a>


<div class="container-fluid"  style="width: 1500px; text-align: left;">

    <div style="width: 600px; display: inline-block; float: left;">
      <nb-card>
        <nb-card-header>



          权限分配
        </nb-card-header>

        <nb-card-body>
          <ng2-smart-table [settings]="permission_settings" [source]="permission_source" (deleteConfirm)="permissionDeleteEvent($event)">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>


    <div  style="width: 500px; display: inline-block; float: left; margin-left: 10px">
      <nb-card>
        <nb-card-header>
          角色列表
        </nb-card-header>
        <nb-card-body>
          <ng2-smart-table [settings]="role_list_settings" [source]="role_list_source" (deleteConfirm)="roleAddEvent($event)">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>


</div>
