
<div class="row">

    <div class="col-md-12" *ngIf="!isShowRoleList">
      <nb-card>
        <nb-card-header>
          权限分配
          <button style="float: right" class="btn-primary" (click)="toggle()">添加</button>
        </nb-card-header>

        <nb-card-body>
          <ng2-smart-table [settings]="permission_settings" [source]="permission_source" (deleteConfirm)="permissionDeleteEvent($event)">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>


    <div class="col-md-12" *ngIf="isShowRoleList">
      <nb-card>
        <nb-card-header>
          角色列表
          <button style="float: right" class="btn-primary" (click)="toggle()">返回</button>
        </nb-card-header>
        <nb-card-body>
          <ng2-smart-table [settings]="role_list_settings" [source]="role_list_source" (deleteConfirm)="roleAddEvent($event)">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>


</div>
